etc/changelog.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="config">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="module">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="changelog">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" name="type"/>
																<xs:element type="xs:string" name="overview"/>
																<xs:element type="xs:string" name="description" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute type="xs:string" name="version" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="id"/>
						<xs:attribute type="xs:string" name="name"/>
						<xs:attribute type="xs:string" name="description"/>
						<xs:attribute type="xs:string" name="url"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>